
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}로그인{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <form method="post" class="text-center border border-light p-5">
            {% csrf_token %}
            <p class="h4 mb-4 text-center">로그인</p>
            <div class="form-group">
                <input type="username" name="username" id="inputUsername" class="form-control mb-4" placeholder="아이디를 입력하세요"
                       required="required">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="inputPassword" class="form-control mb-4"
                       placeholder="비밀번호 입력하세요" required="required">
            </div>

            {% for field in login_form %}
                <p>
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            {% if login_form.non_field_errors %}
                <div style="color: red">
                    <p>{{ login_form.non_field_errors }}</p>
                </div>

            {% endif %}
            {% buttons %}
                <button class="btn btn-info btn-block my-4" type="submit">로그인</button>
            {% endbuttons %}
        </form>

        <div class="d-flex flex-column my-4">
            {#    <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>#}
        </div>
    </div>

{% endblock content %}