{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Dashboard' %} {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
</ol>
{% endblock %}
{% block content %}
{% get_side_menu using="app_list" as dashboard_list %}
{% if dashboard_list %}
{% widthratio dashboard_list|length 2 1 as middle %}
{% endif %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script> -->

<!-- 추가 스크립트 -->
<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
<!-- chart.js 4.2.1 => 날짜 어댑터 사용할려면 [날짜 라이브러리] + [어댑터] 필요함 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js" integrity="sha512-vCUbejtS+HcWYtDHRF2T5B0BKwVG/CLeuew5uT2AiX4SJ2Wff52+kfgONvtdATqkqQMC9Ye5K+Td0OTaz+P7cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker-ui/2.6.1/timepicker-ui.umd.min.js" integrity="sha512-TAu+tSoew+STDqPhm7CIE9UDTgfyJzK4gJUQ/QYJ6lfZhwbiUn8pkXj5377PvSA7JTc/ijqG6bNXhMu/gzIAVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="col-lg-9 col-12" style="margin-bottom: 4rem">
    <script>
        let save_query = "";
        let query_result = get_query();
        let query_length = Object.keys(query_result).length;

        const CREATE_YEAR = 1, CREATE_MONTH = 2, CREATE_DAY = 3;

        // URL의 파라미터를 받아온다 => {date__month: '3', date__year: '2023'}
        function get_query(){
            var url = document.location.href;
            var qs = url.substring(url.indexOf('?') + 1).split('&');
            let query_string = url.split('?')[1];
            if (query_string != "") {
                save_query = "?" + url.split('?')[1];
            }
            for(var i = 0, query_result = {}; i < qs.length; i++){
                qs[i] = qs[i].split('=');
                query_result[qs[i][0]] = decodeURIComponent(qs[i][1]);
            }
            return query_result;
        }

        // 임무장비 차트 데이터 리스트
        let date_list = [];

        function get_date_list(d) {
            date_list.push(d.day.split('-')[2].substr(0, 2));
            date_list = [...new Set(date_list)].sort(); // 중복 제거 및 순서대로 정렬
        }

        const DateTime = luxon.DateTime;
        // 받아온 date 데이터 날짜 계산 => luxon
        // https://moment.github.io/luxon/index.html
        const month_name = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        let date = {{ date | safe }};
        let first_iso_time = DateTime.fromISO(date[0]);
        let second_iso_time = DateTime.fromISO(date[1]);

        let current_year = first_iso_time.year;
        let current_month = first_iso_time.month;
        let current_day = first_iso_time.day;
        // let current_hour = first_iso_time.hours;

        // 버튼 생성 함수 반복분 몇회 반복할 지 설정
        let last_month = second_iso_time.month;
        let last_day = second_iso_time.day;

        // Sample data
        const chartData1 = {{ temperature | safe }};
        const chartData_roll = {{ camera_roll | safe }};
        const chartData_pitch = {{ camera_pitch | safe }};
        const chartData_yaw = {{ camera_yaw | safe }};
        const chartData2 = {{ date2 | safe }};

        // 임무장비 차트
        document.addEventListener('DOMContentLoaded', () => {
            const ctx = document.getElementById('myChart1');



            chartData1.forEach((d) => {
                d.x = new Date(d.day);
                get_date_list(d);
                // console.log(d)
            });

            const chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: [
                            {
                                label: "temperature",
                                data: chartData1,
                                fill: false,
                                backgroundColor: 'rgba(33,150,243,0.5)',
                                // yAxisID: 'y',
                            },
                        ],
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day',
                                    displayFormats: {
                                        day: 'MMM dd'
                                    }
                                },
                                ticks: {
                                    // stepSize: 15,
                                }
                            },
                            y: {
                                ticks: {
                                    // ⑬시작을 0부터 하게끔 설정(최소값이 0보다 크더라도)(boolean)
                                    beginAtZero: false,
                                },
                            },
                        }
                    }
                });

            if (query_length >= CREATE_DAY) {
                chart.options.scales.x.time = {
                    unit: 'minute',
                    displayFormats: {
                        minute: 'h:mm: a'
                    }
                };
                chart.update();
            }
        });

        // 카메라 차트
        document.addEventListener('DOMContentLoaded', () => {
            const ctx3 = document.getElementById('myChart3').getContext('2d');

            // Sample data

            chartData_roll.forEach((d) => {
                d.x = new Date(d.day);
                // console.log(d)
            });
            chartData_pitch.forEach((d) => {
                d.x = new Date(d.day);
                // console.log(d)
            });
            chartData_yaw.forEach((d) => {
                d.x = new Date(d.day);
                // console.log(d)
            });
            // Render the chart
            const chart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: "camera_roll",
                            data: chartData_roll,
                            fill: false,
                            backgroundColor: 'rgba(255,0,0,0.5)',
                            // yAxisID: 'y',
                        },
                        {
                            label: "camera_pitch",
                            data: chartData_pitch,
                            fill: false,
                            backgroundColor: 'rgba(0,255,0,0.5)',
                            // yAxisID: 'y',
                        },
                        {
                            label: "camera_yaw",
                            data: chartData_yaw,
                            fill: false,
                            backgroundColor: 'rgba(0,0,255,0.5)',
                            // yAxisID: 'y',
                        },
                    ],
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                // unit: 'second',
                                // round: 'seconds',
                                // tooltipFormat: 'h:mm:ss a',
                                displayFormats: {
                                    hour: 'h a',
                                    minute: 'h:mm a',
                                    second: 'h:mm:ss a',
                                    // second: 'MMM D, h:mm:ss a',
                                    // round: 'MMM D, h:mm:ss a'
                                },
                            },
                        },
                        y: {
                            min: 0,
                            max: 1500,
                            ticks: {
                                // ⑬시작을 0부터 하게끔 설정(최소값이 0보다 크더라도)(boolean)
                                beginAtZero: false,
                                stepSize: 100,
                            },
                        },
                    },
                },
            });
        });

        // 윈치 차트
        document.addEventListener('DOMContentLoaded', () => {
            const ctx2 = document.getElementById('myChart2').getContext('2d');

            // Sample data

            chartData2.forEach((d) => {
                d.x = new Date(d.day);
                // console.log(d)
            });

            // Render the chart
            const chart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: "tetherline_angle",
                            data: chartData2,
                            fill: false,
                            backgroundColor: 'rgba(33,150,243,0.5)',
                        },
                    ],
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    hour: 'h a',
                                    minute: 'h:mm a',
                                    second: 'h:mm:ss a',
                                    // second: 'MMM D, h:mm:ss a',
                                },
                            },
                        },
                        y: {
                            ticks: {
                                // ⑬시작을 0부터 하게끔 설정(최소값이 0보다 크더라도)(boolean)
                                beginAtZero: false,
                            },
                        },
                    },
                },
            });
        });
        
        $(document).ready(function() {

            switch (query_length) {
                case 1:
                    // console.log("All dates 표시함");
                    create_button(CREATE_YEAR);
                    break;
                case 2:
                    // console.log("2023 표시함");
                    $("#prev_date").text("\u2039 " + current_year);
                    create_button(CREATE_MONTH);
                    break;
                default:
                    $("#prev_date").text("\u2039 " + month_name[current_month - 1] + "\u0020" + current_year)
                    .attr("href", "?date__month=" + current_month + "&date__year=" + current_year);
                    create_button(CREATE_DAY);
                    add_time_picker_button();

                    // 시간 필터 추가
                    $("#timepicker").show();
                    $(".save-day").val(current_day);
                    $(".save-month").val(current_month);
                    $(".save-year").val(current_year);
                    break;
            } // switch

            // 타임피커 생성 함수
            function add_time_picker_button() {
                // Timepicker 추가
                // https://github.com/pglejzer/timepicker-ui
                const first_dom = document.querySelector(".timepicker-ui-1");
                const second_dom = document.querySelector(".timepicker-ui-2");
                let options = {};
                
                // 시간 선택한 적이 없으면 현재 시간 입력
                if (query_length != 5) {
                    options = { currentTime: { time: new Date(), updateInput: true, locales: "en-US", preventClockType: false } };
                } else { 
                    // 시간 선택했었으면 선택한 시간 값 저장\
                    time_picker_save();
                }
                const first_picker = new window.tui.TimepickerUI(first_dom, options);
                const second_picker = new window.tui.TimepickerUI(second_dom, options);
                first_picker.create();
                second_picker.create();

                if (query_length != 5) {
                    // 현재 시간에서 1시간 빼기
                    let minus_time = DateTime.now().minus({hours:1}).toFormat('hh:mm a');
                    $("#first_timepicker").val(minus_time);
                }
            }; // add_time_picker_button

            // 타임피커 시간 저장 함수
            function time_picker_save() {
                let convert_time_1 = query_result.date__range__gte_1.split(':');
                let convert_time_2 = query_result.date__range__lte_1.split(':');
                convert_time_1 = DateTime.now().set({hours:convert_time_1[0], minutes:convert_time_1[1]}).toFormat('hh:mm a');
                convert_time_2 = DateTime.now().set({hours:convert_time_2[0], minutes:convert_time_2[1]}).toFormat('hh:mm a');
                $("#first_timepicker").val(convert_time_1);
                $("#second_timepicker").val(convert_time_2);
            } // time_picker_save

            // 타임피커 시간 체크 함수
            function time_picker_check() {
                if ($("#first_timepicker").val() == "" || $("#second_timepicker").val() == "") return false;
                const HOUR = 0;
                const MINUTE = 1;
                let get_first_time = $("#first_timepicker").val().split(':');
                let get_second_time = $("#second_timepicker").val().split(':');
                let get_first_12hour = get_first_time[1].split(' ')[1];
                let get_second_12hour = get_second_time[1].split(' ')[1];
                let temp;

                // 시분 변환
                get_first_time = DateTime.now().set({hours:get_first_time[0], minutes:get_first_time[1].substr(0,2)}).toFormat('hh:mm');
                get_second_time = DateTime.now().set({hours:get_second_time[0], minutes:get_second_time[1].substr(0,2)}).toFormat('hh:mm');

                // PM이면 12시간 더함
                if (get_first_12hour == 'PM') {
                    get_first_time = get_first_time.split(':');
                    temp = parseInt(get_first_time[0]);
                    if (temp == 12) {
                        get_first_time = `${temp}:${get_first_time[1]}`
                    } else {
                        get_first_time = `${temp + 12}:${get_first_time[1]}`
                    }
                }
                if (get_second_12hour == 'PM') {
                    get_second_time = get_second_time.split(':');
                    temp = parseInt(get_second_time[0]);
                    if (temp == 12) {
                        get_second_time = `${temp}:${get_second_time[1]}`
                    } else {
                        get_second_time = `${temp + 12}:${get_second_time[1]}`
                    }
                }

                // [시, 분] 배열로 변환
                let get_first_time_array = get_first_time.split(':');
                let get_second_time_array = get_second_time.split(':');

                if (get_first_time_array[HOUR] >= get_second_time_array[HOUR]) {
                    if (get_first_time_array[MINUTE] >= get_second_time_array[MINUTE]) {
                        return false;
                    } else {
                        $("#first_timepicker").val(`${get_first_time}`);
                        $("#second_timepicker").val(`${get_second_time}`);
                        return true;
                    }
                } else {
                    $("#first_timepicker").val(`${get_first_time}`);
                    $("#second_timepicker").val(`${get_second_time}`);
                    return true;
                }
            }; // time_picker_check

            // 타임피커 Search 버튼 submit 이벤트
            $("#time_range_search").submit(function(e) {
                // e.preventDefault();
                let submit_result = time_picker_check();
                if (submit_result == false) {
                    e.preventDefault();
                    alert("select correct time");
                }
            }); // submit

            // 버튼 생성 함수
            function create_button(check_key) {
                switch (check_key) {
                    case CREATE_YEAR: // 연 버튼
                        for (let i = 0; i < last_month; i++) {
                            const month_button = '<a href="?date__month=' + (i+1) + '&amp;date__year=' + current_year
                                               + '" class="added_button btn btn-primary ml-1 my-1">' + month_name[i] + "&nbsp;" + current_year + '</a>';
                            $(".date-hierarchy").append(month_button);
                        };
                        break;
                    case CREATE_MONTH: // 월 버튼
                        // console.log(date_list); // [10, 11, 12 ...] => 임무장비 데이터가 존재하는 날짜
                        for (let i = 0; i < date_list.length; i++) {
                            const date_button = '<a href="?date__day=' + date_list[i] + '&amp;date__month=' + current_month + '&amp;date__year=' + current_year
                                              + '" class="added_button btn btn-primary ml-1 my-1">' + month_name[current_month-1] + "&nbsp;" + date_list[i] + '</a>';
                            $(".date-hierarchy").append(date_button);
                        };
                        break;
                    case CREATE_DAY: // 일 버튼
                        const current_date_button = '<button class="added_button btn btn-primary ml-1 my-1">'
                                                  + month_name[current_month-1] + '&nbsp;' + current_day + '</button>';
                        $(".date-hierarchy").append(current_date_button);
                        break;
                }
            }; // create_button
        });
    </script>

        <!-- 대시보드 필터 부분 -->
        <div class="col-12 pb-4" id="change-list-date-hierarchy">
            <div class="btn-group date-hierarchy text-sm">
                <!-- 버튼 추가 부분 -->
                <a class="btn btn-secondary" href="?" id="prev_date">&lsaquo; All dates</a>
                <!-- 버튼 추가 부분 end -->
            </div>

            <!-- 타임피커 -->
            <div class="col-12 pb-4" id="timepicker" style="display: none;">
                <hr>
                <form id="time_range_search" class="form-inline" method="GET">
                    <input type="hidden" class="save-day" name="date__day">
                    <input type="hidden" class="save-month"  name="date__month">
                    <input type="hidden" class="save-year"  name="date__year">
                    <div class="col-12">
                        <div class="timepicker-ui-1 mb-3">
                            <h5>Start Time :</h5>
                            <input type="text" class="timepicker-ui-input" value="" name="date__range__gte_1" id="first_timepicker" />
                        </div>
                        <div class="timepicker-ui-2 mb-3">
                            <h5>End Time :</h5>
                            <input type="text" class="timepicker-ui-input" value="" name="date__range__lte_1" id="second_timepicker" />
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <input type="submit" class="btn btn-primary" value="Search">
                        <input type="reset" class="btn btn-primary" value="Reset">
                    </div>
                </form>
            </div>
            <!-- 타임피커 end -->

        </div>
        <!-- 대시보드 필터 end -->
        
        <h5>Mission Device</h5>
        <div style="width: 100%; height: 450px;">
            <canvas style="margin-bottom: 30px; width: 100%; height: 100%;" id="myChart1"></canvas>
        </div>
        <div style="width: 100%; height: 450px;">
            <canvas style="margin-bottom: 30px; width: 100%; height: 100%;" id="myChart3"></canvas>
        </div>
        <h5>Winch</h5>
        <div style="width: 100%;">
            <canvas style="margin-bottom: 30px; width: 100%; height: 100%;" id="myChart2"></canvas>
        </div>

</div>
<div class="col-lg-3 col-12">
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h4 class="mb-3">{% trans 'Recent actions' %}</h4>
            {% load log %}
            {% get_admin_log 6 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <div class="timeline">
                {% for entry in admin_log %}
                <div>
                    {% if entry.is_change %}
                    <i class="fas fa-edit bg-gray text-xs"></i>
                    {% elif entry.is_deletion %}
                    <i class="fas fa-trash bg-danger text-xs"></i>
                    {% elif entry.is_addition %}
                    <i class="fas fa-plus-circle bg-success text-xs"></i>
                    {% endif %}

                    <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i> {% blocktrans with timesince=entry.action_time|timesince %}{{ timesince }} ago{% endblocktrans %}</span>
                        <h3 class="timeline-header no-border">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                            {% else %}
                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}

                            {% if entry.model %}
                            <span class="mini quiet">
                                                {% filter capfirst %}
                                                    {{ entry.model }}
                                                {% endfilter %}
                                            </span>
                            {% endif %}
                        </h3>
                        {% if not entry.is_deletion %}
                        <div class="timeline-body">
                            {% if entry.is_addition %}
                            {{ entry }}
                            {% else %}
                            <ul style="list-style: none; padding: 0;">
                                {% action_message_to_list entry as action_message_list %}
                                {% for action_message in action_message_list %}
                                <li>{{ action_message.msg|style_bold_first_word }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div>
                    <i class="fa fa-clock bg-gray"></i>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
