{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<!--{{ date|json_script:"chart-data" }}-->
<!--{{ column_keys|json_script:"chart-key" }}-->
<!--{{ column_values|json_script:"chart-values" }}-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const ctx = document.getElementById('myChart').getContext('2d');

        // Sample data
        const chartData = {{ date | safe }};

        // const chartData = JSON.parse(document.getElementById("chart-data").textContent);
        // const chartKey = JSON.parse(document.getElementById("chart-key").textContent);
        // const chartValue = JSON.parse(document.getElementById("chart-values").textContent);

        // console.log(chartData);

        // Parse the dates to JS
        // Object.keys(chartData).forEach(d => {
        //     d.x = new Date(d.date);
        //     console.log(d)
        // });
        chartData.forEach((d) => {
            d.x = new Date(d.hour);
            // console.log(d)
        });

        // Render the chart
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "wind_speed",
                        data: chartData,
                        fill: false,
                        backgroundColor: 'rgba(33,150,243,0.5)',
                        // yAxisID: 'y',
                    },
                    // {
                    //     label: 'Dataset 2',
                    //     data: chartValue,
                    //     backgroundColor: 'rgba(0,200,0,0.5)',
                    //     yAxisID: 'y1',
                    // }
                ],
            },
            options: {
                responsive: true,
                scales: {
                    xAxes: [
                        {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    second: 'MMM D, h:mm:ss a',
                                },
                            },
                        },
                    ],
                    yAxes: [
                        {
                            ticks: {
                                // ⑬시작을 0부터 하게끔 설정(최소값이 0보다 크더라도)(boolean)
                                beginAtZero: false,
                            },
                        },
                    ],
                },
            },
        });
    });
</script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<div style="width: 90%;">
    <canvas style="margin-bottom: 30px; width: 100%; height: 120%;" id="myChart"></canvas>
</div>
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}