

{% load static %}

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="#">
            <strong class="blue-text">Home</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#" target="_blank">About MDB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#" target="_blank">Free
                        tutorials</a>
                </li>
            </ul>

            <form class="search-bar justify-content-start" onsubmit="return executeQuery();">
                <input type="text" class="form-control" name="q" id="id_q_large" placeholder="Search...">
            </form>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link waves-effect" title="로그아웃">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link waves-effect" title="로그인">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link waves-effect" title="회원가입">
                            <i class="far fa-registered"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->
<script type="text/javascript">
    function executeQuery() {
        var query = ""
        query = document.getElementById('id_q_small').value;
        if (query == ""){
            query = document.getElementById('id_q_large').value;
        }
        // {#window.location.replace("{% url 'search' %}?q=" + query)#}
        return false
    }
</script>